---
import { CollectionEntry, getCollection } from 'astro:content'

export async function getStaticPaths() {
	const posts = await getCollection('docs')
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}))
}
type Props = CollectionEntry<'docs'>

const post = Astro.props
const { Content } = await post.render()
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>docs2: {post.data.title}</title>
	</head>
	<body>

<div class="container mx-auto p-4">
	{/* 
	    See <https://docs.astro.build/en/guides/integrations-guide/markdoc/#custom-headings>
	    to changed header level for <Content />.
	*/}
	<ul>
		<li><a class="link" href="/">Frontpage</a></li>
		<li><a class="link" href="/docs2/">Docs2</a></li>
	</ul>
	<div class="prose mx-auto">
		<h1 class="text-3xl font-bold">{post.data.title}</h1>
		<Content />
	</div>
</div>
</body>
</html>
