---
// astro
import { getEntry } from 'astro:content'

// self
import Search from "@components/search.tsx"
import Layout from "@layouts/layout.astro"
import { marketplace } from "@libs/constants.js"

const entry = await getEntry('pages', 'faq-en')

export async function getStaticPaths() {
  return [
    {
      params: {
        slug: entry.slug,
        props: {
          entry
        }
      },
    },
  ]
}


const { Content, headings } = await entry.render()
---

<Layout url="/en/faq/" title={`Skoolie for sale - ${headings[0].text}`}>
  <div class="prose mx-auto">
    <Search client:load lang="en" />
    <Content marketplace={marketplace} />
  </div>
</Layout>
