---
// self
import Layout from '@layouts/layout.astro'
import { price } from "@libs/constants.js"

const description = `Skoolie for sale ${price} in Otterburn Park: 38' bus (immatriculated heavy vehicule, class 3 permit) being converted into an RV requiring class 5 permit to drive.`

---

<Layout description={description} url="/en/guides/" title="Skoolie - Guides to complete the project">
	<main class="prose mx-auto">
		<a class="float-right italic" href="/guides/" hreflang="fr-ca">Français</a>
		<h1>Skoolie <small>Guides to complete the project</small></h1>

		<h2>New!</h2>
		<div class="my-4 alert alert-success">
			<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
			<span class="text-xl">You will soon be able to pre-order the book on Amazon.</span>
			<a href="/en/book/" class="uppercase btn btn-lg btn-secondary">The Book</a>
		</div>

		<h2>Resources</h2>
		<p>Need help completing your Skoolie project? Consult the following resources:</p>

		<ul>
			<li><a hreflang="en-ca" href="https://saaq.gouv.qc.ca/en/transportation-passengers/heavy-vehicles-motor-homes/personal-use"><b>SAAQ</b>: Heavy Vehicles Converted Into Motor Homes for Personal Use</a> [en]</li>
			<li><a hreflang="fr-ca" href="https://quebecskoolie.com/">Québec Skoolie</a> [fr]</li>
			<li><a hreflang="fr-ca" href="https://campeurs-skoolie.com/">Skoolie au Québec</a> [fr]</li>
			<li><a hreflang="en-ca" href="https://skooliecanada.ca/">Skoolie & Bus conversion Canada</a> [en]</li>
		</ul>
	</main>
</Layout>
