<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body class="bg-[url('/invisible-bus.jpg')] bg-no-repeat bg-cover">
		<div class="grid h-screen place-items-center">
      <div class="p-4 text-center text-white bg-black">
      <h1 class="text-4xl font-bold pb-4">Page introuvable</h1>
      <p><a hreflang="fr-ca" class="link" href="/">Aller à l'accueil.</a></p>
      </div>

      <div class="p-4 text-center text-black bg-white">
      <h1 class="text-4xl font-bold pb-4">Page not found</h1>
      <p><a hreflang="en-ca" class="link" href="/en/">Go to frontpage.</a></p>
      </div>
		</div>
	</body>
</html>
