<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <title>Skoolie à vendre (VENDU) mais page introuvable - Skoolie for sale (SOLD) but page not found</title>
	</head>
	<body class="bg-[url('/invisible-bus-flip.webp')] bg-no-repeat bg-cover">
		<div class="grid h-screen place-items-center">
         <a hreflang="fr-ca" class="hover:link" href="/">
            <div class="p-4 text-center text-white bg-black">
               <h1 class="text-8xl lg:text-4xl font-bold">Page introuvable</h1>
               <p class="text-4xl lg:text-2xl p-4">Aller à l'accueil pour retrouver le skoolie.</p>
            </div>
         </a>

         <a hreflang="en-ca" class="hover:link" href="/en/">
            <div class="p-4 text-center text-black bg-white">
               <h1 class="text-8xl lg:text-4xl font-bold">Page not found</h1>
               <p class="text-4xl lg:text-2xl p-4">Go to frontpage to find the skoolie.</p>
            </div>
         </a>
		</div>
	</body>
</html>
