---
// astro
import { getEntry } from 'astro:content'

// self
import Layout from "!layouts/layout.astro"

const entry = await getEntry('pages', 'faq-fr')

export async function getStaticPaths() {
  return [
    {
      params: {
        slug: entry.slug,
        props: {
          entry
        }
      },
    },
  ]
}

const { Content, headings } = await entry.render()
---

<Layout url="/faq/" title={`Skoolie à vendre (VENDU) - ${headings[0].text}`}>
  <div class="prose mx-auto">
    <Content />
  </div>
</Layout>
