---
// self
import Layout from '!layouts/layout.astro'
import { prix } from "!libs/constants.js"

const description = `Skoolie à vendre ${prix} dans Otterburn Park: autobus 38' (plaqué véhicule lourd, classe 3) en conversion vers un VR pour le plaquer classe 5.`
---

<Layout description={description} url="/guides/" title="Skoolie - Guides pour compléter le projet">
	<main class="prose mx-auto">
		<a class="float-right italic" href="/en/guides/" hreflang="en-ca">English</a>
		<h1>Skoolie <small>Guides pour compléter le projet</small></h1>

		<h2>Nouveau!</h2>
		<div class="my-4 alert alert-success">
			<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
			<span class="text-xl">Vous pourrez bientôt réserver le livre en pré-commande sur Amazon.</span>
			<a href="/livre/" class="uppercase btn btn-lg btn-secondary">Le livre</a>
		</div>

		<h2>Ressources</h2>
		<p>Besoin d'aide pour compléter votre projet de Skoolie? Consulter les ressources suivantes:</p>

		<ul>
      <li><a hreflang="fr-ca" href="https://saaq.gouv.qc.ca/transport-personnes/vehicule-lourd-habitation-motorisee/usage-personnel"><b>SAAQ</b>: Véhicule lourd transformé en habitation motorisée à des fins personnelles</a> [fr]</li>
			<li><a hreflang="fr-ca" href="https://quebecskoolie.com/">Québec Skoolie</a> [fr]</li>
			<li><a hreflang="fr-ca" href="https://campeurs-skoolie.com/">Skoolie au Québec</a> [fr]</li>
			<li><a hreflang="en-ca" href="https://skooliecanada.ca/">Skoolie & Bus conversion Canada</a> [en]</li>
		</ul>
	</main>
</Layout>
