---

// self
import Layout from '@layouts/layout.astro'
import { price } from "@libs/constants.js"
// import { initDb, SqliteError } from "@libs/db.ts"
import { initDb } from "@libs/db.ts"

export const prerender = false

// const { db, insert } = initDb()
const { insert } = initDb()

const description = `Skoolie à vendre ${price}$ CAD dans Otterburn Park (près de Mont-Saint-Hilaire & Beloeil): skoolie/autobus 38' (plaqué véhicule lourd, classe 3) en conversion vers un VR pour le plaquer classe 5.`

// type InitialFormType = "subscribed" | "missingField" | "initialForm" | "error"
enum InitialFormType {
	subscribed = "subscribed",
	missingField = "missingField",
	initialForm = "initialForm",
	error = "error",
}

let state: InitialFormType = InitialFormType.initialForm
let email: string | undefined
let phone: string | undefined
let dbError: string = ''

// InitialFormType = "initialForm"

/*
console.log("clientAddress", Astro.clientAddress)
console.log("accept-language", Astro.request.headers.get('accept-language'))
console.log("user-agent", Astro.request.headers.get('user-agent'))
*/

/*
console.log("clientAddress", Astro.clientAddress)
console.log("accept-language", Astro.request.headers.get('accept-language'))
console.log("referer", Astro.request.headers.get('referer'))
console.log("user-agent", Astro.request.headers.get('user-agent'))
*/


if (Astro.request.method === "POST") {
  try {
    const data = await Astro.request.formData()
    email = data.get("email") as any
    phone = data.get("phone") as any
		phone = phone?.replaceAll(/[^\d]/g, '').replace(/^1/, '')
		state = ((email || phone) ? (InitialFormType.subscribed as InitialFormType) : (InitialFormType.missingField as InitialFormType))
		if (state === InitialFormType.subscribed) {
			const lastInsertRowid = insert({
				email,
				phone,
				referer: Astro.request.headers.get('referer') || undefined,
				ip: Astro.clientAddress,
				language: Astro.request.headers.get('accept-language'),
				browser: Astro.request.headers.get('user-agent'),
			})
			console.log("lastInsertRowid", lastInsertRowid)
		}
  } catch (error: any) {
		state = InitialFormType.error as InitialFormType
		dbError = error.message
		console.log("DB-ERROR", dbError)
		/*
		console.log("STATE", state)
		console.log("DB-ERROR", dbError)
		if (error instanceof SqliteError) {
			if (error.code === 'SQLITE_CONSTRAINT_UNIQUE') {
				console.log("SqliteError-CONSTRAINT", error.message)
			} else {
				console.log("SqliteError-EEE", Object.keys(error), error)
			}
		} else if (error instanceof Error) {
			console.error(error.message)
		} else {
			console.log("EEE", error)
		}
		*/
  }
}

// console.log("STATE", state)
// console.log("DB-ERROR", dbError)

---

<Layout description={description} url="/details/" title="Skoolie - Le Livre">
	<main class="mx-auto lg:w-[820px]">
		{state === InitialFormType.error &&
			<div class="toast toast-top toast-center">
				<div class="alert alert-error">
					<span>{dbError}.<span>
				</div>
			</div>
		}


		{(state === (InitialFormType.missingField as InitialFormType)) &&
			<div class="toast toast-top toast-center">
				<div class="alert alert-warning">
					<span>Vous devez fournir votre email ou numéro de téléphone pour vous inscrire.</span>
				</div>
			</div>
		}


		<a class="float-right italic link" href="/en/book/" hreflang="en-ca">English</a>
		<h1 class="text-4xl font-bold">Skoolie <small>Le Livre</small></h1>
		<form method="post">
			<div class={`my-4 alert ${(state === InitialFormType.subscribed as InitialFormType) ? 'alert-success shadow-md' : (state === (InitialFormType.initialForm as InitialFormType) ? 'alert-accent shadow-lg' : 'alert-warning shadow-lg')}`}>
				<svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>

				{state === (InitialFormType.subscribed as InitialFormType) ?
				<div>
					<p class="mb-2">
						Merci! Nous conserverons précieusement vos coordonnées et
						nous vous contacterons dès que le livre sera disponible.
					</p>
					<p>
						Vérifiez {email ? 'votre boite de courriel' : 'vos textos'} pour confirmer votre {email ? 'email' : 'numéro de téléphone'}.
					</p>
				</div>
				:
				<div class="grid text-xl justify-items-center content-center">
					<div>
						<p class="my-2">
							Voulez-vous être averti quand les pré-commandes seront disponibles?
						</p>

						<div class="flex">
							<label class="w-1/3 label" for="email">Email</label>
							<div class="w-2/3 my-3 md:my-0 md:mx-6">
								<input autofocus={(state === (InitialFormType.missingField as InitialFormType)) || (state === (InitialFormType.error as InitialFormType))} id="email" name="email" type="email" placeholder="morgan@example.com" class="input input-secondary placeholder:text-slate-500 text-black">
							</div>
						</div>
						<div class="text-sm ml-1 text-left">ou</div>
						<div class="flex">
							<label class="w-1/3 label" for="phone">Téléphone <small class="text-sm">(SMS)</small></label>
							<div class="w-2/3 my-3 md:my-0 md:mx-6">
								<input id="phone" name="phone" type="tel" placeholder="555-834-1212" class="input input-secondary placeholder:text-slate-500 text-black">
							</div>
						</div>

						<p class="italic text-sm mt-2">
							Vous serez contacté uniquement à propos du livre sur les skoolies.
						</p>
					</div>
				</div>
				<button type="submit" class="btn btn-secondary">M'inscrire</button>
				}
			</div>
		</form>

		<div class="my-4 md:flex">
			<img alt="Illustration d'une amatrice de livres" class="md:order-last" src="/undraw_book_lover_re_rwjy.svg" width={446} height={341}>

			<div class="mt-6">
				<h2 class="md:mb-4 text-2xl font-bold">Table des matières</h2>

				<ol class="ml-6 list-disc flex-1">
					<li>Préambule</li>
					<li>Choisir son autobus</li>
					<li>Avant d'acheter</li>
					<li>Une maison sur roues</li>
					<li>Les règles à suivre</li>
					<li>Processus de conversion</li>
					<li>Équipement nécessaire</li>
					<li>Entretien</li>
					<li>Classe 3 ou classe 5?</li>
					<li>Ailleurs dans le monde (règlementation)</li>
					<li>Épilogue</li>
				</ol>			
			</div>
		</div>
		<p class="italic">La table des matières et le contenu pourraient changer d'ici la publication.</p>
	</main>
</Layout>
