<footer class="mt-4 footer footer-center p-10 bg-base-200 text-base-content rounded" style="box-shadow: 0 50vh 0 50vh oklch(var(--b2))">
  <div class="grid grid-flow-col gap-4">
    <a href="/" class="link link-hover">Accueil</a>
    <a href="/details/" class="link link-hover">Détails</a>
    <a href="/faq/" class="link link-hover">FAQ</a>
    <a href="/guides/" class="link link-hover">Guides</a>
    <a href="/livre/" class="link link-hover" data-astro-reload={Astro.request.method === 'POST'}>Livre</a>
    <a href="/album/inside/" class="link link-hover">Photos</a>
  </div>
</footer>
