<footer class="mt-4 footer footer-center p-10 bg-base-200 text-base-content rounded" style="box-shadow: 0 50vh 0 50vh hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity))">
  <div class="grid grid-flow-col gap-4">
    <a href="/en/" class="link link-hover">Home</a>
    <a href="/en/details/" class="link link-hover">Details</a>
    <a href="/en/faq/" class="link link-hover">FAQ</a>
    <a href="/en/guides/" class="link link-hover">Guides</a>
    <a href="/en/album/inside/" class="link link-hover">Photos</a>
  </div>
  <div class="grid grid-flow-col gap-4">
    <p>Site by <a class="link" href="https://robin.millette.info/">Robin Millette</a> © 2024</p>
  </div>
</footer>
